@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
body {
    margin: 0;
    background-image: url('/static/images/paws.png');
    background-size: cover;
    background-attachment: fixed;
    font-family: "Overpass", sans-serif;
    
}


.content-wrapper{
    margin: 0;
    margin-top: 6%;
}


.box {
    width: 140px;
    height: auto;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
    left: 0;
    color: black;
}

.box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}

.box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}

.box:hover {
    box-shadow: 10px 10px 8px #BFF0FA, -10px -10px 8px #f4f4f4;
}

.box:hover:before {
    border-color: #4998FF;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after {
    border-color: #BFF0FA;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
}


button {
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
}

input {
    font-size: 16px;
    font-family: "Overpass", sans-serif;
}



@media (max-width: 480px) {
    body {
        margin-top: 15rem;
    }
}