/* ANCHOR COMMUNITY WRAPPER */
.community-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}




/* ANCHOR SEARCH CSS */
    .input-container {
    display: flex;
    border-radius: 1rem;
    background: linear-gradient(45deg, #c5c5c5 0%, #ffffff 100%);
    box-shadow: 20px 20px 20px #d8d8d8,-10px -10px 20px #f8f8f8;
    padding: 0.3rem;
    gap: 0.3rem;
    margin-bottom: 2.5rem;
    }


    .input-container input {
    border-radius: 0.8rem 0 0 0.8rem;
    background: #e8e8e8;
    box-shadow: inset 13px 13px 10px #dcdcdc,
                inset -13px -13px 10px #f4f4f4;
    width: 100%;
    flex-basis: 75%;
    padding: 1rem;
    border: none;
    border-left: 2px solid #4998FF;
    color: #5e5e5e;
    transition: all 0.2s ease-in-out;
    }


    .input-container input:focus {
    border-left: 2px solid #4998FF;
    outline: none;
    box-shadow: inset 13px 13px 10px #BFF0FA,inset -13px -13px 10px #f4f4f4;
    }


    .input-container button {
    flex-basis: 25%;
    padding: 1rem;
    background: linear-gradient(135deg, #BFF0FA 0%, #4998FF 100%);
    font-weight: 900;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: white;
    border: none;
    width: 100%;
    border-radius: 0 1rem 1rem 0;
    transition: all 0.2s ease-in-out;
    }


    .input-container button:hover {
    background: linear-gradient(to right, #0095ffa8, #000fe7);
    }

    @media (max-width: 500px) {
    .input-container {
        flex-direction: column;
    }

    .input-container input {
        border-radius: 0.8rem;
    }

    .input-container button {
        padding: 1rem;
        border-radius: 0.8rem;
    }
    }




/* ANCHOR POST CSS */
.post-card {
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    padding: 1.5rem;
    max-width: 45rem;
    min-width: 45rem;
    margin: 0 auto 2rem;
    box-shadow: 20px 20px 20px #d8d8d8,-10px -10px 20px #f8f8f8;
    border: 2px solid;
    border-image:linear-gradient(135deg, #BFF0FA 0%, #4998FF 100%) 1;
    position: relative;
}


/* TODO CHANGE STYLE */
.post-card:hover {
    border:blue .5px solid;

}

.post-header {
    margin-bottom: 1rem;
}

.post-main {
    text-align: left;
}

.post-meta {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.5rem;
    font-size: 13px;
    color: #505256;
    width: fit-content;
}

.post-meta .username {
    font-weight: 600;
    color: #000;
    font-size: 18px;
}

.post-title {
    font-size: 22px;
    font-weight: 600;
    color: #000;
    margin: 0.75rem 0;
}

.community-wrapper .options svg {
    width: 20px;
}

.post-description {
    font-size: 14px;
    color: #000;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.post-tags {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.post-tags .tag {
    background-color: #f0f0f0;
    color: #2e2e2f;
    padding: 0.35rem 0.75rem;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 500;
}

.post-actions {
    display: flex;
    gap: 1rem;
}

.action-btn {
    background: transparent;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-basis: 15%;
    background: linear-gradient(135deg, #BFF0FA 0%, #4998FF 100%);
    font-weight: 900;
    border: #000 2px solid;
    transition: all 0.2s ease-in-out;
}

.action-btn a {
    color:black;
    text-decoration: none;
}

.action-btn:hover {
    border-color: blue;
}

.action-btn svg {
    width: 16px;
    height: 16px;
}

.options{
    position: absolute;
    top: 0;
    right: 0;
    padding: 2.5%;
}







/* ANCHOR EXTRA // FORM CSS */





/* ANCHOR POST DETAILS */
.post-details-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 45rem;
    padding: 1rem;
    align-self: center;
    align-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
;
}

.card {
    width: 600px;
    height: fit-content;
    background-color: white;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 17px 17px 27px 27px;
    padding: 1.5rem;
}

.title {
    width: 100%;
    height: 70px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid #f1f1f1;
    font-weight: 700;
    font-size: 20px;
    color: #47484b;
}

.title::after {
    content: '';
    width: 8ch;
    height: 1px;
    position: absolute;
    bottom: -1px;
    background-color: #47484b;
}

.reply-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1.5rem 0;
    margin: 0;
}

.reply-container .user {
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 15px;
}

.reply-container .user .user-pic:after {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-radius: 50%;
    background-color: #0fc45a;
    border: 2px solid #ffffff;
}

.reply-container .user .user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.reply-container .user .user-info span {
    font-weight: 700;
    font-size: 16px;
    color: #47484b;
}

.reply-container .user .user-info p {
    font-weight: 600;
    font-size: 13px;
    color: #acaeb4;
}

.reply-container .reply-content {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #5f6064;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
}

.text-box {
    height: fit-content;
    background-color: #f1f1f1;
    padding: 12px;
    border-radius: 8px;
}

.text-box .box-container {
    background-color: #ffffff;
    width: 100%;
}

.text-box textarea {
    width: 100%;
    height: 80px;
    resize: none;
    border: 0;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    caret-color: #0a84ff;
}

.text-box .formatting {
    display: grid;
    margin-top: 10px;
}

.text-box .formatting button {
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
    border: 0;
    outline: none;
}

.text-box .formatting button:hover {
    background-color: #f1f1f1;
}

.text-box .formatting .send {
    width: 40px;
    height: 40px;
    background-color: #0a84ff;
    margin: 0 0 0 auto;
}

.text-box .formatting .send:hover {
    background-color: #026eda;
}

@keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 0.6;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}