/* FIRST SECTION OF THE LANDING PAGE */
.landing-h1{
    background: linear-gradient(90deg, #1D4ED8, #22C1DC);
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    margin: 0 0 1rem 0;
    font-size: clamp(2.6rem, 4vw, 4.2rem);
    line-height: 1.05;
    letter-spacing: -0.02rem;
    font-weight: 900;
}

.landing-section1{
    display: grid;
    grid-template-columns: 1.05fr 1fr;
    gap: 5rem;
    align-items: center;
}

.landing-btn1{
    display: inline-block;
    padding: .45rem .85rem;
    border-radius: .5rem;
    border: 1px solid transparent;
    font-weight: 800;
    cursor: pointer;
    user-select: none;
    line-height: 1.2;
    background: blue;
    border-color: blue;
    color: #fff;
}

.landing-btn2{
    display: inline-block;
    padding: .45rem .85rem;
    border-radius: .5rem;
    border: 1px solid transparent;
    font-weight: 800;
    cursor: pointer;
    user-select: none;
    line-height: 1.2;
    background: rgb(220, 220, 238);
    border-color: blue;
    color: #000000;
}

.landing-btn1:hover, .landing-btn2:hover{
    text-decoration: underline;
    filter: brightness(2);
}


/* CSS TO APPLY TO ALL THE HEADERS IN THE LANDING PAGE */
.landing-headers{
    text-align: center;
    margin-bottom: 2.75rem;
    margin-left: 5rem;
    margin-right: 5rem;
}


/* SECOND SECTION OF THE LANDING PAGE */
.landing-section2{
    margin-bottom:20vh; 
    margin-left: 5%;
    margin-right: 5%; 
}

.features-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2.5rem;
}

.feature-card{
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .06);
    border-radius: 1.15rem;
    box-shadow: 6px 6px 8px rgb(0, 0, 0);
    padding: 1.5rem;
    min-height: 190px;
    border: 2px solid #000;
    border-radius: 10px;
}


/* THIRD SECTION OF THE LANDING PAGE */
.how-it-works-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* gap: 2.5rem; */
}

.how-it-works-card{
    /* padding: 1.5rem; */
    min-height: 190px;
    text-align: center;
}

.step-number{
    width: 62px;
    height: 62px;
    margin: 0 auto 1rem auto;
    border-radius: 1.1rem;
    display: grid;
    place-items: center;
    font-weight: 900;
    font-size: 1.25rem;
    color: #fff;
    background: linear-gradient(180deg, #1D4ED8, #22C1DC);
    /* border: 1px solid #000; */
    border-radius: 10px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.337);
}


/* THIRD SECTION OF THE LANDING PAGE */
.reviews-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
}

.reviews-card{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.337);
}

.reviews-card h4{
    font-weight: 200;
}

/* FOURTH SECTION ON THE LANDING PAGE */
.landing-section4{
    margin-bottom:20vh; 
    text-align: center;
    padding: 5rem;
    border-radius: 10px;
}

.landing-section4 h1{
    font-size: clamp(2.6rem, 4vw, 4.2rem);
    margin-bottom: 1rem;
    font-weight: 900;
    background: linear-gradient(90deg, #1D4ED8, #22C1DC);
    background-clip: text;
    /* -webkit-background-clip: text; */
    color:transparent;
    letter-spacing: -0.02rem;
}

.landing-section4 p{
    font-size: 1.25rem;
    margin-bottom: 2rem;
    color: #333;
}

.landing-section4 a{
    display: inline-block;
    padding: 1.5rem 1.5rem;
    border-radius: .5rem;
    border: 1px solid transparent;
    font-weight: 800;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
    line-height: 1.2;
    background: rgb(220, 220, 238);
    border-color: blue;
    color: #000000;
}

.landing-section4 a:hover{
    text-decoration: underline;
    filter: brightness(2);
}

/* FOOTER SECTION */
.footer-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2.5rem;
    margin: 5rem;
}

.footer-links ul, .footer-support ul{
    list-style-type: none;
    padding: 0;
}

.footer-links ul li, .footer-support ul li{
    margin-bottom: 0.5rem;
}

.footer-links ul li a, .footer-support ul li a{
    text-decoration: none;
    color: #000;
}

.footer-links ul li a:hover, .footer-support ul li a:hover{
    text-decoration: underline;
}


@media (max-width: 991.98px){
.how-it-works-grid, .landing-section1, .reviews-grid{
    grid-template-columns: 1fr;
    text-align: center;
}

 .how-it-works-card, .feature-card{
    justify-self: center;
    width: 80%;
}

.separator-line{
    display: none;
}
}

@media (max-width: 575.98px){
    .nav-bar{
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-bar a, .dropdown .dropbtn{
        font-size: 1rem;
        padding: 6px 8px;
    }

    .landing-section1{
        gap: 2rem;
    }

    .landing-headers{
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .landing-section2{
        margin-left: 2rem;
        margin-right: 2rem; 
    }
}


/* Container styles for centering and ensuring the cursor doesn't span the page */
.container-for-typing-animation {
  display: inline-block;
  font-family: 'Courier New', monospace; /* Monospace font makes steps look even */
  overflow: hidden; /* Hide the text as it is 'typed' */
  white-space: nowrap; /* Prevent the text from wrapping to the next line */
  border-right: .15em solid orange; /* The "cursor" */
  width: 0; /* Start with a width of 0 */
  /* Combine the typing and blinking animations */
  animation: 
    typing 4s steps(40, end) forwards,
    blink .75s step-end infinite;
}

/* Keyframes for the typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Keyframes for the blinking cursor effect */
@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: rgb(13, 0, 255) }
}