.navbar-wrapper ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}

.navbar-wrapper ul li {
    float: left;
}

.navbar-wrapper ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-wrapper ul li a:hover {
    background-color: #111111;
}