/* CSS FOR THE POP UP MODEL */
.pets-wrapper .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4); /* Black background with opacity */
    overflow: auto;


}

.pets-wrapper .modal-content {
    background-color: #e5f8fc;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    max-width: 500px;
    border-radius: 5px;
}

.pets-wrapper .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.pets-wrapper .close:hover,
.pets-wrapper .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}






/* NOTE FORM STYLING CSS */
.form-style {
    max-width: 350px;
    background: #F8F9FD;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    margin: 20px;
}

.heading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: rgb(16, 137, 211);
}

.form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    scrollbar-width: none;
}

.form label {
    font-size: 18px;
    font-weight: 800;
}

.input {
    color: black;
    background: white;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    width: 100%;
    box-sizing: border-box;
    max-height: 3rem;
    border: #000 .5px solid;
}

.form .input::-moz-placeholder {
    color: #000;
}

.form .input::placeholder {
    color: #000;
}

.form .input:focus {
    outline: none;
    border: 2px solid #12B1D1;
}

.form .login-button {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.form .login-button:hover {
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.form .login-button:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}

/* CSS FOR THE LAYOUT */
.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-left: 2rem;
}

.header-section button {
    padding: 0.6rem 1.2rem;
    background-image: linear-gradient(to right, #0095ffa8, #000fe7);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
}

.pets-layout {
    display: flex;
    gap: 2rem;
    padding-top: 1rem;
    margin-left: 2rem;
}

.pets-layout .pet-left-side {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    max-height: 80vh;
    margin-left : 2rem;
}

.pets-layout .pet-right-side {
    flex: 1;
    margin-right : 2rem;
    background-color: #fff;
    border-radius: 12px;
    padding: 1rem;
}

.pets-layout .pet-info-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pet-right-side .no-pet-selected {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #666;
}

.pet-card {
    background: #fff;
    padding: 12px 16px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,.05);
}

.pet-info-card a{
    color: inherit;
    gap: 1rem;
    text-align: center;
    float: right;
}

.pet-details {
    flex: 1;
    background: #fff;
    padding: 1.5rem;
    border-radius: 12px;
    min-height: 300px;
}

.pet-card:hover {
    transform: translateY(-5px);
    /* Increase the shadow for depth */
    box-shadow: 0 0 25px rgba(16, 26, 208, 0.174);
}

.allergy-section {
    border: solid 1px #2563f5;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 1rem;
    background-color: #e0f2fe85;
    color: #000fe7;
}

.edit-form-btn {
    padding: 0.6rem 1.2rem;
    background-image: linear-gradient(to right, #0095ffa8, #000fe7);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
}

