/* REGISTER WRAPPER */
.register-wrapper {
    display:flex;
    /* min-height: 100vh; */
}


/* LEFT SIDE IMAGE SECTION */
.register-wrapper .image-section-content {
    width: 100%;
    margin: auto;
    top: 0;

}


.register-wrapper .image-section img {
    width: 20%;
}


.register-wrapper .image-section h1 {
    font-size: 2.6rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}


.register-wrapper .image-section h2 {
    font-size: 40px;
}


.register-wrapper .image-section {
    position: relative;
    flex: 1;
    background: linear-gradient(135deg, #1e6bff 0%, #28c0f3 100%);
    color: white;
    padding: 5rem 3.5rem;
    display: flex;
    overflow: hidden;
    font-size: 1rem;
    line-height: 1.7;
    align-items: center;
}


.register-wrapper .image-section::before,
.register-wrapper .image-section::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.12);
}


.register-wrapper .image-section::before {
    width: 260px;
    height: 260px;
    top: 15%;
    left: -90px;
}


.register-wrapper .image-section::after {
    width: 320px;
    height: 320px;
    bottom: -120px;
    right: -120px;
}


.register-wrapper .image-section br {
    margin-bottom: .75rem;
}


.register-wrapper .image-section li {
    list-style-type: none;
}




/* INTRO */
.register-wrapper .form-section .intro{
    line-height: 1.5rem;
}


.register-wrapper .form-section .intro img{
    width: 5%;
}


.register-wrapper .form-section .intro h1{
    font-size: 2rem;
}

.register-wrapper .form-section .intro h2{
    font-size: 1.5rem;
    font-weight: 100;
}




/* FORM CONTENT */
.register-wrapper .form-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    top: 0;
}




/* OFFICIAL FORM */
.register-wrapper .form-section .card {
    width: 30%;
    padding: 0.5rem 10rem;
    text-align: center;
    background: #fff;
    border-radius: 40px;
    border: #000 solid 1px;
    box-shadow: #000 5px 15px 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.register-wrapper .form-section .field {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    border-radius: 4px;
    padding: 0.4em 0.4em;
    border: #000 solid 1px;
    min-height: 1rem;
    border: #000000 solid 1px;
    box-shadow: 0 0 10px #000fe7a2;
}

.register-wrapper .form-section label {
    line-height: 1;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    display: block;
    font-size: 1rem;
    color: #000;
}


.register-wrapper .form-section .input-icon {
    height: 1em;
    width: 1em;
    fill: #000;
}


.register-wrapper .form-section .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #010000;
    
}


.register-wrapper .form-section .title {
    margin-bottom: 1rem;
    font-size: 1.5em;
    font-weight: 500;
    color: #000;
}


.register-wrapper .btn-wrapper{
    display: flex;
    justify-content: center;
}


.register-wrapper .form-section .btn {
    margin: 4rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    padding: 1rem 5em;
    background-image: linear-gradient(to right, #0095ffa8, #000fe7);
    color: #080e22;
    box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
    transition: all .3s ease-in-out;
    align-self: center;
}


.register-wrapper .form-section .btn-link {
    color: #f5f5f5;
    display: block;
    font-size: .75em;
    transition: color .3s ease-out;
}


.register-wrapper .form-section .field input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}


.register-wrapper .form-section .btn:hover {
    background-color: #5e6681;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
}


.register-wrapper .form-section .btn-link:hover {
    color: #ffeba7;
}


.register-wrapper .form-section a{
    color: #000;
    display: inline-block
}