body{
    background-image:url('/static/images/paws.png');
    background-size:cover;
    background-attachment: fixed;
}

form{
    background-color: aliceblue;
    box-shadow: 5px 5px 15px grey;
}

.modal-header{
    border-radius: 40px;
}