{% extends 'base.html' %}
{% load static %}

{% block content %}

{%block css%}
<link rel="stylesheet" href="{% static 'css/community.css' %}">
{%endblock%}

{% include 'navbar.html' %}

    <section class="content-wrapper">

        <button>
            <span><a href="javascript:history.back()" class="box">Go Back</a></span>
        </button>

        <button id="openFormButton">+ Add New Visit</button>


        <div class="community-wrapper">
            <div class='community-intro-message'>
                <h1>Community</h1>
                <p>Share experiences and get advice from fellow pet parents.</p>
            </div>

            <div id="formModal" class="modal" enctype="multipart/form-data">
                <div class="modal-content">
                    <span class="close">&times;</span>

                    <h2 class='heading'>Form Title</h2>
                    <hr></hr>
                    <form method="POST" class='form'>
                    {% csrf_token %}
                    {{field.label_tag}}
                    {{ form.as_p }}
                    <button type="submit" class='login-button'>Post</button>
                    </form>
                </div>
            </div>

        

        <form method="GET" class='input-container'>
            <input type="text" name="q" placeholder="Search posts..." >
            <button type="submit" class='button'>Search</button>
        </form>

            {% comment %} TODO--STYLE {% endcomment %}

            {% if posts %}
                {% for post in posts %}
                    <div class="post-card">
                        <div class="post-content">
                            <div class="post-header">
                                <div class="post-main">
                                    <div class="post-meta">
                                        <span class="username">{{post.author}}</span>
                                        <span class="post-time">{{post.created_at}}</span>

                                        <a class="options"  href="{% url 'edit-post' post.id%}">
                                        <svg xml:space="preserve" viewBox="0 0 41.915 41.916" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" id="Capa_1" version="1.1" fill="#000000"><g stroke-width="0" id="SVGRepo_bgCarrier"></g><g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M11.214,20.956c0,3.091-2.509,5.589-5.607,5.589C2.51,26.544,0,24.046,0,20.956c0-3.082,2.511-5.585,5.607-5.585 C8.705,15.371,11.214,17.874,11.214,20.956z"></path> <path d="M26.564,20.956c0,3.091-2.509,5.589-5.606,5.589c-3.097,0-5.607-2.498-5.607-5.589c0-3.082,2.511-5.585,5.607-5.585 C24.056,15.371,26.564,17.874,26.564,20.956z"></path> <path d="M41.915,20.956c0,3.091-2.509,5.589-5.607,5.589c-3.097,0-5.606-2.498-5.606-5.589c0-3.082,2.511-5.585,5.606-5.585 C39.406,15.371,41.915,17.874,41.915,20.956z"></path> </g> </g> </g></svg>
                                        </a>

                                    </div>
                                    <h3 class="post-title">{{post.title}}</h3>
                                    <p class="post-description">{{post.content}}</p>
                                    {% if tags %}
                                        <div class="post-tags">
                                            {%for tag in tags%}
                                                <span class="tag">{{post.tag}}</span>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <div class="post-actions">
                                            <a href="{% url 'post-details' post.id %}" class='action-btn'>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                                                    <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                                                </svg>
                                                Replies
                                            </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-muted">No posts yet available.</p>
            {% endif %}


        </div>

        <button id="openPopupBtn">Open Popup</button>


    </section>


{% endblock content %}