{% extends 'base.html' %}
{% load static %}
{% block navbar %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<div class="navbar-wrapper">
    <ul>
        <li><a href="{% url 'pets' %}">My Pets</a></li>
        <li><a href="{% url 'vet-visits' %}">Health Records</a></li>
        <li><a href="{% url 'vet-visits' %}">Vet Visits</a></li>
        <li><a href="{% url 'vaccinations' %}">Vaccinations</a></li>
        <li><a href="{% url 'community' %}">Community</a></li>
        <li><a href="{% url 'landing' %}">Landing</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a href="{% url 'login' %}">Log in</a></li>
        <li><a href="{% url 'register' %}">Sign up</a></li>
    </ul>
</div>


{% endblock navbar %}