{% extends 'base.html' %}
{% load static %}
{% block navbar %}

<nav class="pc-nav">
  <div class="container pc-nav__inner">
    <a class="pc-brand" href="{% url 'landing' %}">
      <img class="pc-brand__logo" src="{% static 'images/paws-icon.png' %}" alt="PawCare logo" style="height: 50px; width: 50px;"/>
      <span class="pc-brand__text">PawCare</span>
    </a>

    <!-- mobile -->
    <button class="pc-nav__toggle" type="button" aria-controls="pcNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="pc-nav__burger"></span>
    </button>

    {% if user.is_authenticated %}
    <div class="pc-nav__collapse" id="pcNav">
      <div class="pc-nav__center">
        <a class="pc-link" href="{% url 'pets' %}">My Pets</a>

        <div class="pc-dropdown">
          <a class="pc-link pc-dropdown__trigger" href="{% url 'vet-visits' %}">Health Records</a>
          <div class="pc-dropdown__menu">
            <a class="pc-dropdown__item" href="{% url 'vet-visits' %}">Vet Visits</a>
            <a class="pc-dropdown__item" href="{% url 'vaccinations' %}">Vaccinations</a>
          </div>
        </div>

        <a class="pc-link" href="{% url 'community' %}">Community</a>
      </div>
      {% else %}
      <div class="pc-nav__collapse" id="pcNav">
        <div class="pc-nav__center">
            <a class="pc-link" href="{% url 'landing' %}"></a>
        </div>
      </div>
      {% endif %}

      <div class="pc-nav__right">
        {% if user.is_authenticated %}
          <a class="pc-link pc-link--danger" href="{% url 'logout' %}">Logout</a>
        {% else %}
          <a class="pc-link" href="{% url 'login' %}">Log in</a>
          <a class="pc-btn" href="{% url 'register' %}">Sign up</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>


{% endblock navbar %}
