{% extends 'base.html' %}
{% load static %}

{% block content %}

{%block css%}
<link rel="stylesheet" href="{% static 'css/pets.css' %}">
{%endblock%}

{% include 'navbar.html' %}

    <section class="content-wrapper" style="margin-bottom: 5%;">

        <div class="pets-wrapper header-section">

            <div class="pets-header">
                <h1>My Pets</h1>
                <p>Manage your pet profiles and keep track of their information.</p>
            </div>

            <button id="openFormButton">+ Add New Pet</button>


            <div id="formModal" class="modal" enctype="multipart/form-data">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Form Title</h2>
                    <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Add Pet</button>
                    </form>
                </div>
            </div>

        </div>

        <div class="pets-wrapper pets-layout">

            <div class="pet-left-side">
                {% for p in pets %}
                    <div class="pet-card">
                        <a href="?pet={{ p.id }}">
                            <h3>{{ p.name }}</h3>
                            <p>{{ p.species }} • {{ p.age }} yrs</p>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <div class="pet-right-side">
                <ul>
                    <div class="pet-info-card">
                        {% if selected_pet %}
                            <h1>{{ selected_pet.name }}</h1>
                            {% if pet.image %}
                            <img src="{{ pet.image.url }}" alt="{{ pet.name }}" width="200">
                            {% endif %}
                            <p><strong>Species:</strong> {{selected_pet.species }}</p>
                            <p><strong>Breed:</strong> {{selected_pet.breed }}</p>
                            <p><strong>Age:</strong> {{selected_pet.age }}</p>
                            <p><strong>Allergies:</strong> {{selected_pet.allergies }}</p>
                            <p><strong>Personality:</strong> {{selected_pet.personality }}</p>
                            <p><strong>Daily Routine:</strong> {{selected_pet.daily_routine }}</p>
                            <p><strong>Care Instructions:</strong> {{selected_pet.care_instructions }}</p>
                            <button class="print-btn" onclick="window.print()">Print</button>
                    </div>
                    {% else %}
                    <div class="no-pet-selected">
                        <h3>Select a Pet to view their information</h3>
                        <p>Click a pet from the lsit to view their details</p>
                    </div>
                    {% endif %}
                </ul>
            </div>
        </div>

        {% if pet.image %}
        <img src="{{ pet.image.url }}" width="200">
        {% endif %}

    </section>

    





{% endblock content %}