{%extends 'base.html'%}
{%load static%}
{%block content%}

{% include 'navbar.html' %}
    <a href="javascript:history.back()">Go Back</a>


    <h2>Hello, {{user.first_name}}!</h2>

    {%if pets%}
        {%for pet in pets%}
            <div>
                <ul>
                    <li>Name: {{pet.name}}</li>
                    <li>Breed: {{pet.breed}}</li> 
                    <li>Age: {{pet.age}}</li>

                <hr></hr>

                    <li>Allergies: {{pet.allergies}}</li>
                    <li>Personality: {{pet.personality}}</li>
                    <li>Daily Routine: {{pet.daily_routine}}</li>
                    <li>Care instructions: {{pet.care_instructions}}</li>
                </ul>

                <a href="{% url 'edit-pet' pet.id %}">Edit</a>
                <a href="{% url 'delete_pet' pet.id %}">Delete</a>
                
                <hr></hr>
                <hr></hr>
                
            </div>
        {%endfor%}
    {%else%}
        </p>No pets yet.</p>
    {%endif%}


    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPetModal" action="{% url 'pets' %}">Add pet</button>
        <div class="modal fade" id="addPetModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <form method="POST" action="{% url 'pets' %}">
                    {% csrf_token %}

                        <div class="modal-header">
                            <h5 class="modal-title">Add Pet</h5>
                            
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">

                            {% for field in form %}
                                {{field}}
                            {% endfor %}

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Save Pet</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


{%endblock content%}