{%extends 'base.html'%}
{%load static%}
{%block content%}
<body>
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <hr>
            <a href="javascript:history.back()">Go Back</a>

    <h2>Comments</h2>


    <div id="comments">
        {% for comment in post.comments.all %}
            <div style="border:1px solid black; margin-bottom:20vh;">
                <p><strong>{{ comment.author.username }}:</strong> {{ comment.content }}</p>
                {%if user == comment.author or comment.post.author%}
                <a href='{% url 'delete-comment' comment.id %}'>Delete Comment</a>
                {%endif%}
            </div>
        {% empty %}
            <p>No comments yet.</p>
        {% endfor %}
    </div>

    <h3>Leave a Comment</h3>
    <form method="POST" action="{% url 'post-details' post.id %}">
        {% csrf_token %}
        {% for field in form%}
        {{field.label_tag}}
        {{ field }}
        {%endfor%}
        <button type='submit'>Submit</button>
    </form>


</body>

{%endblock content%}