{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}

{%block css%}
<link rel="stylesheet" href="{% static 'css/community.css' %}">
{%endblock%}

{% include 'navbar.html' %}

    <section class="content-wrapper">
        <a href="javascript:history.back()">Go Back</a>


        <div class="post-details-wrapper">


            <div class="card">
                <span class="title">{{ post.title }}</span>
                <div>
                    <div>
                    
                    </div>
                    <div class="reply-container">
                    <div class="user">
                        <div>
                        
                        </div>
                        <div class="user-info">
                        <span>{{post.author.username}}</span>
                        <p>{{post.created_at}}</p>
                        </div>
                    </div>
                    <p class="reply-content">
                        {{post.content}}
                    </p>
                    </div>
                </div>

                <div class="text-box">
                    <form method="POST" action="{% url 'post-details' post.id %}">
                    {% csrf_token %}
                        {% render_field form.content class='box-container' placeholder="Reply" %}
                    
                    </form>
                        <div class="formatting">
                        
                        
                        <button type="submit" class="send" title="Send">
                            <svg fill="none" viewBox="0 0 24 24" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" stroke="#ffffff" d="M12 5L12 20"></path>
                            <path stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" stroke="#ffffff" d="M7 9L11.2929 4.70711C11.6262 4.37377 11.7929 4.20711 12 4.20711C12.2071 4.20711 12.3738 4.37377 12.7071 4.70711L17 9"></path>
                            </svg>
                        </button>
                        </div>
                    </div>
                    </div>
                </div>
                </div>

            </div>




    </section>


{% endblock content %}