{%extends 'base.html'%}
{%load static%}
{%block content%}
   <div style="display: flex; min-height: 100vh;">
        <div class="image-section">
                <img class="pc-brand__logo" src="{% static 'images/paws-icon.png' %}" alt="PawCare logo" style="height: 50px; width: 50px;"/>
                <h1>PawCare</h1>
                <h2>Start your pet's health journey today</h2>
                Join thousands of pet parents who trust PawCare to keep their furry friends happy and healthy.<br>
                <ul>
                        <li>Track unlimited pet profiles</li>
                        <li>Log vet visits & vaccinations</li>
                        <li>Set health reminders</li>
                        </li>Connect with a community of pet lovers</li>
                </ul>
                </div>

        <div class="form-section">
                <h1>Create Your Account</h1>
                <p>Start tracking your pet's health in today!</p>
                <form method="POST">
                        {% csrf_token %}
                        {%for field in form%}
                        {{field.label_tag}}
                        {{field}}
                        {%endfor%}
                        <button type="submit">Register</button>
                        <a href="{%url 'login'%}" style="font-size:12px;">Already have an account? Login Here.</a>
                </form>
        </div>
   </div>

{%endblock content%}